<a href="https://colab.research.google.com/github/aazolotukhina/course_MSU/blob/main/Course_MSU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ЛЕКЦИЯ 2**

G. В строке записаны два числа, разделенные пробелом. Поменяйте их местами и напечатайте результат.

In [ ]:
s = input("Введите числа:")
ind = s.find(' ')
s_new = s[ind+1:]+' '+s[:ind]
print(s_new)
print(len(s_new))
print(len('793423410 3254543')) 
print(s_new == '793423410 3254543')

Введите числа:3254543 793423410
793423410 3254543
17
17
True

H. Из почтового адреса нужно достать логин.

In [ ]:
s = input()
n = s.find('@')
print(s[:n])

ivan@lenta.ru
ivan

I. Человек вводит на сайте номер телефона, ему позволено для удобства использовать кроме плюса и цифр знаки ‘-’, ‘)’, ‘(’ и пробелы. Уберите их из ввода.

In [ ]:
s = input()
s_new = s.replace('-','').replace('(','').replace(')','').replace(' ','')
print(s_new)

+7 (812) 134-12-324
+781213412324

J. Вам дана строка s, состоящая только из букв английского алфавита и пробелов. Напишите программу, которая определит, является ли строка s палиндромом.

In [ ]:
s = input()
s_new = s.lower().replace(' ','')
if s_new == s_new[::-1]:
  print('It is a palindrome')
else:
  print('It is not a palindrome')
print(s_new,s_new[::-1],s_new == s_new[::-1])

f AoAO  AF
It is a palindrome
faoaoaf faoaoaf True

K. Петя записал все числа от 1 до 123 (без пробелов). А потом вычеркнул все девятки. Какая строка у него получилась?

In [ ]:
s = list(range(1,124))
s = ''.join(str(symb) for symb in s) #List comprehension 
s = s.replace('9','')
print(s)

12345678101112131415161718120212223242526272823031323334353637383404142434445464748450515253545556575856061626364656667686707172737475767778780818283848586878880123456781001011021031041051061071081011011111211311411511611711811120121122123

# **ЛЕКЦИЯ 3**

С. Выведите строку, в которой каждое слово строки s будет написано задом-наперёд, но порядок слов в строке не поменяется.

In [ ]:
file = open('input.txt', 'w')
file.writelines("Корабли лавировали-лавировали, да не вылавировали")
file.close()
file = open('input.txt')
for s in file:
    s_new = [word[::-1]for word in s.split()]
    print(' '.join(s_new))
file.close()

илбароК ,илаворивал-илаворивал ад ен илаворивалыв

D. Вывести строки, содержащие букву ё.

In [ ]:
file = open('input.txt', 'w')
file.writelines([ "В лесу родилась ёлочка,\n",
                  "В лесу она росла,\n",
                  "Зимой и летом стройная, зеленая была\n"])
file.close()
file = open('input.txt')
lines = [line.strip() for line in file]
filtered = filter(lambda l: 'ё' in l, lines)
for line in filtered:
  print(line)
file.close()

В лесу родилась ёлочка,

E. Вывести строки, исключив каждое второе слово из каждой строчки текста.Знак препинания, следующий за словом, которое будет удалено, удаляется вместе со словом.

In [ ]:
file = open('input.txt', 'w')
file.writelines([ "Мне типа привезли этот товар ну в вообще плохом совсем состоянии.\n",
                  "Плата там разбита прямо.\n", 
                  "Я вот хочу типа вернуть это, деньги.\n"])
file.close()
file = open('input.txt')
lines = [line.strip() for line in file]
s_new = map(lambda line: line.split(),lines)
for s in s_new:
  print(' '.join(s[::2]))
file.close()

Мне привезли товар в плохом состоянии.
Плата разбита
Я хочу вернуть деньги.

F. Дан текстовый файл input.txt, содержащий следующую информацию:
в первой строке записано число N,
в следующих N строках содержатся имена студентов,
а в следующих N строках — их даты рождения.

Выведите построчно информацию из этого файла и запишите в файл output.txt, при этом разделяйте имена и даты рождения при помощи специального символа табуляции '\t'.

In [ ]:
file = open('input.txt', 'w')
file.writelines([ "3\n",
                  "Dania\n",
                  "Petya\n",
                  "Egor\n",
                  "13 oct\n",
                  "28 mar\n",
                  "26 feb\n"])
file.close()
file = open('input.txt')
lines = [line.strip() for line in file]
N = int(lines[0])
names = lines[1:N+1]
numbs = lines[N+1:]
f = open('output.txt','w')
for x, y in zip(names, numbs):
    s = x+'\t'+y+'\n'
    f.write(s)
f.close()
file.close()

G. Дан текстовый файл studygroup.txt, содержащий имена школьников 8 "Б". При помощи itertools.combinations вывести все способы назначения трёх дежурных.

In [ ]:
import itertools as it
file = open('studygroup.txt', 'w')
file.write("Dima Petya Sasha Misha Egor")
file.close()
file = open('studygroup.txt')
for line in file:
  n = line.split()
print(n)
for x, y, z in it.combinations(n, 3):
    print('1:',x,'2:',y,'3:',z, sep = ' ')
file.close()

['Dima', 'Petya', 'Sasha', 'Misha', 'Egor']
1: Dima 2: Petya 3: Sasha
1: Dima 2: Petya 3: Misha
1: Dima 2: Petya 3: Egor
1: Dima 2: Sasha 3: Misha
1: Dima 2: Sasha 3: Egor
1: Dima 2: Misha 3: Egor
1: Petya 2: Sasha 3: Misha
1: Petya 2: Sasha 3: Egor
1: Petya 2: Misha 3: Egor
1: Sasha 2: Misha 3: Egor